cheatsheet.md
0_get_data_python_client/buildingsID_VS_layout_id.csv
0_get_data_python_client/data_from_db.csv
2_layout_id_python_client/.ipynb_checkpoints/buildingsID_VS_layout_id-checkpoint.csv
0_get_data_python_client/.ipynb_checkpoints/data_from_db-checkpoint.csv
2_layout_id_python_client/Building_ID_VS_LayoutID.csv
2_layout_id_python_client/data_from_db.csv
2_layout_id_python_client/LayoutID_occurence.csv
2_layout_id_python_client/buildingsID_VS_layout_id.csv
